@import url(c:\Users\utilisateur\Documents\DUT\Sem 4\INFONUAGIQUE\devoir-app-serverless-2022-CreatibOfficiel\app\decoration\normalize.css);
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("font/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("font/Roboto/Roboto-Regular.ttf") format("truetype");
}

:root {
  --theme-color-red: #ed1e79;
  --theme-color-blue: #29abe2;
  --theme-color-purple: #9061ab;
  --theme-color-bg1: #f2f2f2;
  --theme-color-bg2: #c7dae2;
  --theme-color-text: #252627;
  --theme-border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'RobotoRegular', sans-serif;
  font-size: 48px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--theme-color-bg2);
}

.loader h1 {
  color: var(--theme-color-red);
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 1.5rem;
}

.loader h2 {
  color: var(--theme-color-blue);
  font-family: 'RobotoRegular', sans-serif;
  font-size: 1rem;
}

.loader p {
  color: var(--theme-color-purple);
  font-family: 'RobotoRegular', sans-serif;
  font-size: 0.8rem;
}

.button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.button-wrapper .button {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: 15px;
  border: 0px;
  border-radius: var(--theme-border-radius);
  background: var(--theme-color-red);
  color: var(--theme-color-text);
  text-decoration: none;
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.page {
  position: relative;
  background-color: var(--theme-color-bg1);
  color: var(--palette-color-text);
  padding: 5%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.8rem;
  text-align: center;
  color: var(--theme-color-red);
}

.page ul {
  background-color: var(--theme-color-bg2);
  border-radius: var(--theme-border-radius);
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.page ul li a {
  text-decoration: none;
  color: var(--theme-color-text);
  font-family: 'RobotoRegular', sans-serif;
}

.page form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page form .form-row input {
  width: 100%;
  padding: 0.5rem;
  margin: 15px;
  border: 0px;
  border-radius: var(--theme-border-radius);
  background: var(--theme-color-bg2);
  color: var(--theme-color-text);
  font-family: 'RobotoRegular', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.page form .form-row input label {
  display: block;
  font-family: 'RobotoRegular', sans-serif;
  font-size: 0.8rem;
  color: var(--theme-color-text);
}

.page form .form-row input input,
.page form .form-row input text-area {
  border: 0px;
  border-radius: var(--theme-border-radius);
  background: var(--theme-color-bg2);
  color: var(--theme-color-text);
  font-family: 'RobotoRegular', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
/*# sourceMappingURL=application.css.map */